For Staging Environment
PAYTM_ENVIRONMENT=staging
PAYTM_MID=
PAYTM_MERCHANT_KEY=" "
PAYTM_WEBSITE_NAME=WEBSTAGING
PAYTM_CALLBACK_BASE=


For Production Environment
PAYTM_ENVIRONMENT=production
PAYTM_MID=
PAYTM_MERCHANT_KEY=" "
PAYTM_WEBSITE_NAME=DEFAULT
PAYTM_CALLBACK_BASE=


-----------------------------------
FIELD DESCRIPTIONS
-----------------------------------
PAYTM_ENVIRONMENT: Defines whether you are using test (staging) or live (production) environment.
PAYTM_MID: Your unique Merchant ID provided by Paytm for processing payments.
PAYTM_MERCHANT_KEY: Secret key used to secure transactions and generate checksums.Keep this confidential and never expose it publicly.
PAYTM_WEBSITE_NAME: Identifies the environment setup. Use WEBSTAGING for testing and DEFAULT for production.
PAYTM_CALLBACK_BASE: The base URL where Paytm sends payment response after checkout. This should be a publicly accessible URL to receive transaction status.

-----------------------------------
IMPORTANT NOTES
-----------------------------------
- Use staging environment for testing integrations.
- Switch to production only after successful testing.
- Ensure callback URL is correct to avoid missing payment updates.
- Never expose Merchant Key in frontend or public repositories.